// Vars

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/*
Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
    transition: $e;
}

/*
Fonts -

Regular 400
Regular 400 italic
Bold 700
Bold 700 italic=
*/

a:-webkit-any-link {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
    text-decoration-line:none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
} 

.header {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
    text-decoration-line:none;
  }
}

.container-fluid {
  line-height: 24px;
}

